{# comment.html.twig #}
{{ attach_library('bootstrap_barrio/comments') }}
{%
  set classes = [
    'comment',
    'js-comment',
    status != 'published' ? 'comment--' ~ status,
    comment.owner.anonymous ? 'by-anonymous',
    author_id and author_id == commented_entity.getOwnerId() ? 'by-' ~ commented_entity.getEntityTypeId() ~ '-author',
    'clearfix',
    'comment-boulengerie-style'
  ]
%}
<article role="article"{{ attributes.addClass(classes)|without('role') }}>
  <div{{ content_attributes.addClass(['comment__content', 'clearfix'])|without('col-sm-9', 'card') }}>
    <p class="comment-line">
      <strong>{{ author }}</strong>{{ content.comment_body }}
    </p>
    <div class="comment-info-boulengerie">
<span>{{ comment.created.value|format_date('date_heure_courte_boulengerie') }}</span>
    </div>
    {% if content.links %}
      <nav class="comment-links-boulengerie">
        {{ content.links }}
      </nav>
    {% endif %}
  </div>
</article>
