{# node--note.html.twig #}
{{ attach_library('bootstrap_barrio/node') }}

{%
  set classes = [
    'node',
    'node--type-' ~ node.bundle|clean_class,
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
    view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
    'clearfix',
  ]
%}
<article{{ attributes.addClass(classes) }}>

  {{ title_prefix }}
  {% if not page %}
    <h2{{ title_attributes }}>
      <a href="{{ url('entity.node.canonical', {'node': node.id}) }}" rel="bookmark">{{ label }}</a>
    </h2>
  {% endif %}
  {{ title_suffix }}

  <div{{ content_attributes.addClass('node__content', 'clearfix') }}>

      {% if view_mode == 'full' %}
        {% if processed_summary_render['#text'] is not empty %}
          <div class="node-summary-introduction">
            {{ processed_summary_render }}
          </div>
          {% if processed_body_render['#text'] is not empty %} 
          <p id="summary-separator-anchor" class="summary-separator" />----- SUITE -----</p>
          {% endif %}
        {% endif %}
        <div class="node-body-content">
          {{ processed_body_render }}
        </div>
      {% elseif view_mode == 'teaser' %}
        {{ content.body }}

        {% if node.body.summary is not empty %}
          <p class="read-more-link">
            <a href="{{ url('entity.node.canonical', {'node': node.id}, {'fragment': 'summary-separator-anchor'}) }}">{{ 'Lire la suite'|t }}</a>
          </p>
        {% endif %}
      {% else %}
        {{ content.body }}
      {% endif %}

      <p class="note-meta">
        <span class="meta-date">{{ node.getCreatedTime|format_date('custom', 'j/n/y') }}</span>
        <span class="meta-tags">
          {{ content.field_tags }}
        </span>
      </p>

      <div class="node-links">
          {% if view_mode == 'full' %}
          {{ content.field_commentaires }}
          {% endif %}
      </div>
  </div>
</article>
